<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <h1>Quoda</h1>
  <h3>Famous quotes, as told by Yoda.</h3>
  <p><%= test %></p>

</body>
</html>
